/* Start Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* End Reset */

/* Start Utility Classes */

@font-face {
    font-family: "Young Serif";
    src: url(../fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "Outfit-SB";
    src: url(../fonts/outfit/static/Outfit-SemiBold.ttf);
}

@font-face {
    font-family: "Outfit-B";
    src: url(../fonts/outfit/static/Outfit-Bold.ttf);
}

@font-face {
    font-family: "Outfit-R";
    src: url(../fonts/outfit/static/Outfit-Regular.ttf);
}

/* End Utility Classes */

body {
    background-color: #f3e5d7;
    display: flex;
    justify-content: center;
    align-items: center;
}
